.sidebar {
    width: 210px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f8f9fa;
    padding: 20px;
    overflow-y: auto;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.2em;
    color: #333;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px;
    cursor: pointer;
    font-size: 0.9em;
    color: #333;
}

.sidebar ul li:hover {
    background-color: #e9ecef;
}